* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --amarillo: rgb(209, 159, 21);
    --oscuro: rgb(162, 152, 152);
    --blanco: rgb(250, 241, 241);
    --negro: rgb(10, 10, 10);
    --plata: rgb(71, 71, 71);
    --marron: rgb(158, 121, 21);

}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    /*esconde la temida barra horizontal*/
}

body {
    background-color: var(--oscuro);
    font-family: 'Kanit', sans-serif;
    color: var(--blanco);
}

.nav-bg {
    background-color: var(--amarillo);
    min-height: 5rem;
}

.nombre {
    margin: 0 auto;
}


.bar {

    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;

}

.bar ul,
li,
.bar-cat {
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
    color: var(--blanco);
    text-align: right;
    list-style: none;
    line-height: 2rem;
}

.bar-cat:hover {
    color: black;
}


.nombre {
    font-weight: bold;
    margin-left: 1rem;
}

.nombre:hover {
    color: var(--negro);

}


@media (max-width: 768px) {

    .bar,
    .bar-cat {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 9rem;

    }

}


/* main */

.bgimage {
    height: 60rem;
    min-height: 25rem;
    background: url('../img/haidao-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-ban {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 120%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* texto sobre imagen*/

.bg_title {
    font-size: 4.5rem;
}

.bg_desc {
    font-size: 2rem;
}

.bg_text {
    text-align: center;
    margin: 2rem;
    color: white;
    font-size: 20px;

}

.bg_title:hover {
    filter: brightness(100%);
    animation: escalar 1.5s;
}

.bg_desc:hover {
    filter: brightness(100%);
    animation: escalar 1.5s;
}

.bg_text:hover {
    filter: brightness(100%);
    animation: escalar 1.5s;

}

/*Servicios y proyectos*/

.servpro {
    display: inline-flex;

}

h2 {
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
}

.ms-title {
    font-size: 3rem;
    background-color: var(--marron);
    box-shadow: 2px 2px 2px rgba(255, 255, 255);
    margin-bottom: 1rem;
    opacity: 0.5;

}


.grid-wrapper {
    grid-gap: 2em;
    min-width: 35%;
}

.gridbox {
    background: var(--amarillo);
    ;
    margin: 10px;
    min-height: 7rem;
    min-width: 9rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    filter: brightness(100%);
    animation: escalar 1.5s;

}


/*Key: https://www.sitepoint.com/community/t/visibility-upon-hover/42242/2*/

.hidden-text {
    visibility: hidden;
}

.hidden-desc:hover .hidden-text {
    visibility: visible;
    font-size: 2rem;
    padding: 2rem;
    background-color: var(--plata);
    opacity: 0.4;
    color: var(--blanco);
    border-radius: 3rem;
}

.gridbox:hover {
    visibility: visible;
}

svg {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.contenedor-galeria {
    width: 100%;
    padding: 2rem;

}

/*Adaptado de: https://www.youtube.com/watch?v=qdRPKfJWngk&ab_channel=J%26GProyectosWeb; asistencia de: https://stackoverflow.com/questions/50331594/keyframe-animation-on-hover* y https://medium.com/front-end-chile/alinear-im%C3%A1genes-de-distinto-tama%C3%B1o-con-la-propiedad-object-fit-de-css-81426b7d5e64/*/

.pro-img {
    margin-top: 1rem;
    max-width: 45%;
    max-height: 30%;
    object-fit: none;
    width: auto;
    height: auto;
    margin-bottom: 30px;
    object-fit: cover;
    filter: brightness(70%);
    cursor: pointer;
    margin-left: 2rem;
    animation: none;

}


/*Asistencia de: https://stackoverflow.com/questions/50331594/keyframe-animation-on-hover*/

.pro-img:hover {
    filter: brightness(100%);
    animation: escalar 1.5s;

}

@keyframes escalar {
    to {
        transform: scale(1);
    }

    from {
        transform: scale(1.5);
    }
}

@media (min-width:780px) {
    .pro-img {
        width: 25%;
        height: 25%;
    }
}


@media (min-width:775px) {
    .pro-img {
        max-height: 200px;
        width: 100%;
    }
}


/*Skills*/

.skills-content {
    text-align: center
}


.skills img {
    width: 75px;
    height: 75px;
    display: flex;

}

/*Footer*/

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--amarillo);
    width: 100%;

}


.correo {
    line-height: 2rem;
    text-decoration: none;
    color: white;
    padding: 2rem;
}

.footer-content svg {
    width: 40px;
    height: 40px;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;

}

@media (max-width: 757px) {

    .footer-content {
        margin: 0;
        padding: .5rem;
        display: block;
        text-align: center;
    }

}